:host {
  display: inline-block;
}

button {
  background-color: var(--theme-primary, #008cba);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
